colorama==0.4.5
einops==0.4.1
fvcore==0.1.5.post20220512
imgaug==0.4.0
numpy==1.21.6
opencv_python==4.6.0.66
git+https://github.com/cocodataset/panopticapi.git
Pillow==9.5.0
pycocotools==2.0.4
PyYAML==6.0
scipy==1.7.3
tensorflow_cpu==2.10.0  # only needed for kitti step eval metrics script
timm==0.5.4
tqdm==4.64.0
wandb==0.13.0
